@import "foundation/components/grid";
@import "foundation/components/buttons";

.wrapper {
	@include grid-row($behavior: nest);
}

.content {
	@include grid-column(
    $columns:12,
    $last-column:false,
    $center:false
  );
}

.label-wrap {
	@include grid-column(
    $columns:4,
    $last-column:false,
    $center:false
  );
}

// small-2 small-offset-10 columns 
.form-submit-button {
	@include grid-column(
    $columns:2,
    $offset:10,
    // $float:right,
    $last-column:false,
    $center:false
  );
}

.input-field-wrap {
	@include grid-column(
    $columns:8,
    $last-column:false,
    $center:false
  );
}

.button-div {
	@include grid-column(
    $columns:5,
    $last-column:false,
    $center:false
  );
}

.small-button {
	@include button(
    $padding: $button-tny
  );
}

.small-alert-button {
	@include button(
    $padding: $button-tny,
    $bg: $alert-color
  );
}






.wholeapp {
	min-height: 100%;
	background-color: #eee;
}

table {
	border-radius: 10px;
}

input.error-border {
	border: 1px solid red;
}

.success-alert {
	margin-bottom: 3%;
	min-height: 50px;
	border-radius: 5px;
	background-color:#cfebc4;

	p {
		color: darkgreen;
		padding: 20px 0px 20px 10px;
	}
}

.failure-alert {
	margin-bottom: 3%;
	min-height: 50px;
	border-radius: 5px;
	background-color:#da9090;

	p {
		color: darkred;
		padding: 20px 0px 20px 10px;
	}
}
.no-party-alert {
	margin-bottom: 3%;
	min-height: 50px;
	border-radius: 5px;
	background-color:#c2c2c2;

	p {
		color: #000;
		padding: 20px 0px 20px 10px;
	}
}



.anti-nav-bar {
	margin-top: 2%;
	border-radius: 5px;
}



.homepage-header {
	text-align: center;
}

.homepage-signin {
	// height: 100%;
	border-left: 2px solid black;
}