.wholeapp {
	height: 100%;
	background-color: #a0c3df;
	// overflow-y: scroll;
}

.nav-bar-div {
	max-height:22%;

	// nav {
	// 	max-height:10% !important;

	// 	ul {
	// 		max-height:8% !important;
	// 	}

	// 	section {
	// 		max-height:8% !important;
	// 	}
	// }
}

.anti-nav-bar {
	margin-top: 2%;
	height:76%;
	border: 1px solid #eee;
	border-radius: 5px;

}