@import "foundation/components/grid";


.signin-page-left {
  @include grid-column(
    $columns:8,
    $last-column:false,
    $center:false
  );

  a {
    color:#7cbed3;
  }
}

.signin-page-right {
  @include grid-column(
    $columns:4,
    $last-column:false,
    $center:false
  );
}