<div class='button-div'>
  <button class='button alert' ng-click='deleteAllParties()'>Delete All</button>
</div>

<div class='button-div'>
  <span><h4>Filter by Party Size:</h4><p ng-show='search.size'><a href='#' ng-click='showAll()'>(reset)</a></p>
  </span>
  <div class='combobox'>
    <select ng-model='search.size' ng-options="num for num in partyCount">
      <option value=''>-- Party Size --</option>
    </select>
  </div>
</div>

<div class='button-div'>
  <button ng-if='!formVisible' ng-click='oscillateForm()'>Add Party</button>
  <button ng-if='formVisible' ng-click='oscillateForm()'>Hide Form</button>
</div>