<div class='large-12 columns'>
	<form ng-submit='addParty()' class='new-party-form'>
		<div class='row'>
	<!--     <div class="error small-12 columns"
	        ng-show="leaseForm.late_fee.$dirty && leaseForm.late_fee.$invalid">
	        <small class="error"
	          ng-show="leaseForm.late_fee.$error.required">
	          - A valid late payment amount is required.
	        </small>
	    </div> -->
			<div class='small-4 columns'>
	    	<label>Party Name:</label>
	    </div>
	    <div class='small-8 columns'>
	    	<input name='partyName' ng-model="formData.name" type="text" required>
	    </div>
	  </div>
	  <div class='row'>
	<!--     <div class="error small-12 columns"
	        ng-show="leaseForm.late_fee.$dirty && leaseForm.late_fee.$invalid">
	        <small class="error"
	          ng-show="leaseForm.late_fee.$error.required">
	          - A valid late payment amount is required.
	        </small>
	    </div> -->
			<div class='small-4 columns'>
	    	<label>Size:</label>
	    </div>
	    <div class='small-8 columns'>
	      <select name='partySize' ng-model="formData.size" ng-options="num for num in partyCount" required>
	       <option value="">-- Select Size of Party --</option>
	     </select>
	    </div>
	  </div>
	  <div class='row'>
	<!--     <div class="error small-12 columns"
	        ng-show="leaseForm.late_fee.$dirty && leaseForm.late_fee.$invalid">
	        <small class="error"
	          ng-show="leaseForm.late_fee.$error.required">
	          - A valid late payment amount is required.
	        </small>
	    </div> -->
			<div class='small-4 columns'>
	    	<label>Phone:</label>
	    </div>
	    <div class='small-8 columns'>
	    	<input name='phone' ng-model="formData.phone" type="text" required>
	    </div>
	  </div>
	  <div class='row'>
	  	<div class='small-2 small-offset-10 columns'>
		  	<input type='submit' value='Add Party' class='button tiny'>
	  	</div>
	  </div>
	  
	</form>
</div>