<div class='contain-to-grid nav-bar-div'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area fore-front'>
      <li class='name'>
        <h1>
          <a href="/#">Vualet</a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href="#">Menu</a>
      </li>
    </ul>

    <section class='top-bar-section'>
        <ul class='right'>
          <li class='has-dropdown'><a ui-sref="#">Bob</a>
            <ul class='dropdown'>
              <li>
                <a data-method="post" href="/affiliate_logout" rel="nofollow">Sign Out</a>
              </li>
              <li class='divider'></li>
              <li>
                 <a href='#'>Account Settings</a>
              </li>
            </ul>
          </li>
        </ul>
    </section>


    

  </nav>
</div>
