<div class='contain-to-grid nav-bar-div'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area fore-front'>
      <li class='name'>
        <h1>
          <a href="/#">WaitList</a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href="#">Menu</a>
      </li>
    </ul>
    <% if restaurant_signed_in? %>
      <section class='top-bar-section'>
          <ul class='right'>
            <li class='has-dropdown'><a ui-sref="#"><%= current_restaurant.name %></a>
              <ul class='dropdown'>
              
                <li class='divider'></li>
                <li>
                  <%= link_to "Sign out", destroy_restaurant_session_path, :method => :delete %>
                </li>
                <li class='divider'></li>
              </ul>
            </li>
          </ul>
      </section>
    <% end %>


    

  </nav>
</div>
